@import "tailwindcss";
@plugin "daisyui" {
  themes: light-default;
  --color-primary: purple;
  --color-secondary: teal;
  themes: light --default, dark --prefersdark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

a.active {
  @apply underline  rounded-sm;
}
